#contentWrapper {
  padding: 0 15px;
  position: relative;
  left: 0;
  transition:left .5s ease-out;
}

#contentWrapper.detailView {
  left: -100%;
}

#contentWrapper > article {
  background-color: #fff;
  padding: 30px 20px;
  border-bottom: 5px solid black;
}
