header {
  padding-top: 20px;
}

nav {
  padding: 25px 15px 10px 15px;
  background-color: #fff;
  float: left;
  margin-bottom: 25px;
}

nav ul {
  overflow: hidden;
  width: auto;
}

nav li {
  float: left;
  padding-left: 15px;
}

nav li:first-child {
  padding-left: 0;
}

nav li a {
  font-family: DinAlternateLight;
  font-size: 30px;
  letter-spacing: -.07em;
}

nav li a:hover {
  color: #ff6f6f;
}

#date {
  padding-top: 5px;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  color: #333333;
}

#logoWrapper {
  clear: left;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

@-webkit-keyframes slideup {
  0% {
    top: 200px;
  }

  100% {
    top: 0;
  }
}

@-moz-keyframes slideup {
  0% {
    top: 200px;
  }

  100% {
    top: 0;
  }
}

@-o-keyframes slideup {
  0% {
    top: 200px;
  }

  100% {
    top: 0;
  }
}

@keyframes slideup {
  0% {
    top: 200px;
  }

  100% {
    top: 0;
  }
}

.cssanimations #logo {
  width: 100%;
  max-width: 647px;
  position: relative;
  top: 200px;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: slideup;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 1s;
  -moz-animation-duration: 1s;
  -moz-animation-name: slideup;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 1s;
  -o-animation-duration: 1s;
  -o-animation-name: slideup;
  -o-animation-timing-function: ease;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 1s;
  animation-duration: 1s;
  animation-name: slideup;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}
