#sliderNav {
  background-color: #000;
  position: fixed;
  top: 130px;
  left: -80px;
  padding: 5px 0;

  a {
    display: block;
    p {
      display: inline-block;
      font-size: 11px;
      padding-left: 7px;
      width: 80px;
      color: #fff;
    }
    p:last-child {
      width: 40px;
      padding: 5px 0;
      text-align: center;
      border-left1: 1px solid #333;
    }
  }

  a:hover {
    background-color: #ff6f6f;
  }
  
  a.center {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
  }
}


@media (hover: hover) {
  #sliderNav:hover {
    left: 0px;
    a:hover {
      background-color: #ff6f6f;
    }
  }
}

@media (hover: none) {
  #sliderNav {
    a:active {
      background-color: #ff6f6f;
    }
  }
}
