#adminNav {
  margin: 10px 10px 0 10px;
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;

  li {
    display: inline-block;
    color: #999;
    padding-right: 20px;
    position: relative;
    cursor: pointer;
  }

  li.isSelected {
    cursor: auto;
    color: #444;
  }

  li:after {
    content: '|';
    position: absolute;
    right: 9px;
  }

  li:last-child:after {
    content: '';
  }

  &__login {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
