footer {
  overflow: auto;
  width: auto;
  p {
    margin: 20px 0;
    float: left;
    color: #fff;
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    background-color: #000;
    padding: 10px;
  }
}
