@import 'sass/normalize';

body {
  font: 14px Arial;
  color: #333;
}

a {
  color: #999;
}

input, textarea {
  color: #666;
}

input {
  display: block;
  border: 1px solid #ccc;
  padding: 5px 10px;
}

.inValidField {
  border: 1px solid #f00;
}

label {
  color: #999;
  font-size: 11px;
  line-height: 11px;
  display: block;
  padding-bottom: 3px;
}
